*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

.body-top p{
  color: gray;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(91,176,186,255);
  height: 50px;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1;
}

.header-left{
  width: 50px;
  height: 50px;
}

.header-left-links{
  visibility: collapse;
}

.header-mid{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.about-us-link,
 .services-link,
  .book-now-link,
   .careers-link{
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 6px;
    height: 50px;
   } 

   .about-us-link:hover,
    .services-link:hover,
     .book-now-link:hover, 
      .careers-link:hover{
        background-color: rgba(207,232,223,0.2);
        border-radius: 15px;
        transition: all .15s ease-in-out;
      }

.header-right{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 200px;
  height: 50px;
  border-radius: 50px 0 0 50px;
}

.main-img{
  width: 100vw;
  height: 500px;
  object-fit: cover;
}

.logo-img{
  height: 50px;
  border-radius: 0 50% 50% 0;
}

.logo-img-footer{
  height: 50px;
  border-radius: 50%;
}

.contacts-icon{
  height: 100%;
  border-radius: 50%;
}

.body-top{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.sub-header,
 .sub-header-p,
  .symbol{
  text-align: center;
  color: rgba(91,176,186,255);
  margin: 0 0 15px 0;
}

.sub-header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 24px;
}

.sub-header-container-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.sub-header-container-div p{
  font-size: 11px;
  color: rgba(91,176,186,255);
}

.sub-header-image{
  height: 200px;
  object-fit: contain;
  border-radius: 20px;
  box-shadow: 1px 1px 7px rgba(91,176,186,255);
}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  background-color: rgba(91,176,186,255);
  padding: 40PX;
  width: 100vw;
}

.footer-bottom{
padding: 10PX;
  display: flex;
  gap: 20px;
}

.footer-top{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  color: white;
  gap: 9px;
}

.footer-bottom-content{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 3px;
  color: white;
  border-left: solid;
  padding-left: 8px;
}

.footer-bottom-content p{
  font-size: 12px;
}

@media only screen and (max-width: 830px){
  .main-img{
    height: 300px;
  }

  .header-mid{
    position: absolute;
  }

  .logo-img{
    box-shadow: 1px 2px 5px grey;
  }

  .contacts-icon{
    box-shadow: -1px 2px 5px grey;
  }

  .header{
    width: 100%;
  }

  .header-mid{
    visibility: collapse;
  }

  .about-us-link,
    .services-link,
      .book-now-link,
      .careers-link{
    height: 100%;
   }

  .header-left-links{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
  }

  .header-left:hover{
    width: 110px;
    height: 190px;
    z-index: 1;
    position: absolute;
    top: 0;
    background-color: rgba(207,232,223,255);
    border-radius: 20px;
    transition: 0.05s;
    .header-left-links{
      visibility: visible;
    }
    .logo-img{
      box-shadow: none;
    }
  }

  .about-us-link,
 .services-link,
  .book-now-link,
   .careers-link{
    font-size: 14px;
    padding: 0 10px 0 20px;
   } 

   .header-right{
    right: 0;
    width: 0px;
   }

   .header-right:hover{
    .phone-number{
      visibility: visible;
    }
    position: absolute;
    width: 150px;
    transition: 0.1s;
    .contacts-icon{
      box-shadow: none;
    }
   }

  .contacts-icon{
    border-radius: 50% 0 0 50%;
  }

  .phone-number{
    font-size: 12px;
    visibility: hidden;
  }

  .sub-header-container{
    flex-direction: column;
  }

  .sub-header-image{
    width: 40vw;
    height: 80%;
  }


  .footer-bottom{
    flex-direction: column;
  }

  .footer-bottom-content{
    margin: 0 30px 0 30px;
  }

  .footer{
    width: 100vw;
    padding: 0;
  }

}